$rem:1rem;
@mixin  size($width,$height,$back){
	width:$width;
	height:$height;
	background:$back no-repeat;
}
@mixin bgs($width){
	background-size:$width/75*$rem 100%;
}
@mixin margin($top,$left){
	margin-top:$top/75*$rem;
	margin-left:$left/75*$rem;
}
@mixin pad($top,$left){
	padding-top:$top/75*$rem;
	padding-left:$left/75*$rem;
}
@mixin font($font,$line){
	font-size:$font/75*$rem;
	line-height:$line/75*$rem;
}
@mixin border($color){
	
}
@mixin po($top,$left){
	position:absolute;
	top:$top/75*$rem;
	left:$left/75*$rem;
}
@mixin border-1px($color){
    left: 0;
    bottom: 0;
    border-top:1px solid $color;
    width: 100%;
    content: '';
    }

 @-webkit-keyframes move {
 	0% {
 	
 	}
 	30% {
 	
 	}
 }
 * { touch-action: none; }
 #myCanve {
 	position:absolute;
 	z-index:1000;
 }
em {
	font-style:normal;
}
body {
	position:relative;
	z-index:0;
}
.border-1{
	@include border-1px(#f3f5f7);
} 
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix{
	content:'';
	display:block;
	clear:both;
}
.red {
	background:red;
	position:absolute;
	z-index:1001;
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-aspect-ratio: 1.5){
 .border-1px::after {
    -webkit-transform : scaleY(0.7);
    transform : scaleY(0.7);
}
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-aspect-ratio: 2) {
  .border-1px::after {
    -webkit-transform : scaleY(0.3);
    transform : scaleY(0.3);
    }
    }
 @media (-webkit-min-device-pixel-ratio:3),(min-device-aspect-ratio: 3) {
  .border-1px::after {
    -webkit-transform : scaleY(0.3);
    transform : scaleY(0.3);
    }
    }
 .border-1px{
  position : relative;}
	.border-1px::after {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border-top:1px solid #E6E6E6;
	width: 100%;
	content: '';}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-aspect-ratio: 1.5){
 .border-left::after {
    -webkit-transform : scaleX(0.7);
    transform : scaleX(0.7);
}
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-aspect-ratio: 2) {
  .border-left::after {
    -webkit-transform : scaleX(0.3);
    transform : scaleX(0.3);
    }
    }
 @media (-webkit-min-device-pixel-ratio:3),(min-device-aspect-ratio: 3) {
  .border-left::after {
    -webkit-transform : scaleX(0.3);
    transform : scaleX(0.3);
    }
    }
 .border-left{
  position : relative;}
	.border-left::after {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border-left:1px solid #A941E3;
	height: 100%;
	content: '';}


 html, body {
        position: relative;
        height: 100%;
    }
  body {
  	
  }
 header {
 	position:relative;
		@include size(100%,128/75*$rem,#DA3231);
		.head-back {
			@include po(0,0);
			@include size(100/75*$rem,128/75*$rem,none);
			.back {
				position:absolute;
				left:30/75*$rem;
				top:62/75*$rem;
				@include size(25/75*$rem,42/75*$rem,url(../images/back.png));
				background-size:contain;
			}
		}
		@include font(36,168);
		text-align:center;
		color:#fff;
 }
 a:link,a:visited {
 	color:#fff;
 }
 section {
 	background:#f2f2f2;
 	height:100%;
 	.pay-head {
 		height:107/75*$rem;
 		padding-top:13/75*$rem;
 		background:#FBF8E9;
 		.text1 {
 			text-align:center;
 			@include font(34,51);
 			color:#DA3231;
 		}
 		.text2 {
 			text-align:center;
 			@include font(26,44);
 			color:#000;
 		}
 	}

 	.pay {
 		margin-top:20/75*$rem;
 		li {
 			@include size(100%,120/75*$rem,#fff);
 			a {	
 				position:absolute;
 				top:0;
 				@include size(100%,100%,none);
 				.weixin {
 					@include size(68/75*$rem,68/75*$rem,#fff);
 					@include margin(25,30);
 				}
 				.text-bord {
 					padding-left:19/75*$rem;
 					padding-top:20/75*$rem;
 					@include size(440/75*$rem,100/75*$rem,#fff);
	 				.text1 {
	 					display:block;
	 					width:100%;
	 					color:#4A4A4A;
	 					@include font(30,40);
	 				}
	 				.text2 {
	 					display:block;
	 					color:#9B9B9B;
	 					@include font(24,34);
	 				}
 				}
 				.select {
 					position:absolute;
 					right:30/75*$rem;
 					top:42/75*$rem;
 					@include size(35/75*$rem,35/75*$rem,#fff);
 				}
 				.active {

 				}
 			}
 		}
 	}

 	.pay-btn {
 		display:block;
 		text-align:center;
 		border-radius:5px;
 		@include size(690/75*$rem,80/75*$rem,#DA3231);
 		@include margin(30,30);
 		@include font(34,82);
 	}
 	.info-text {
 		@include pad(36,30);
 		color:#9B9B9B;
 		span {
 			display:block;
 			@include font(26,37);
 			margin-bottom:10/75*$rem;
 		}
 		em{
 			display:block;
 			@include font(22,40);
 		}
 	}
 }