$rem:1rem;
@mixin  size($width,$height,$back){
	width:$width;
	height:$height;
	background:$back no-repeat;
}
@mixin bgs($width){
	background-size:$width/75*$rem 100%;
}
@mixin margin($top,$left){
	margin-top:$top/75*$rem;
	margin-left:$left/75*$rem;
}
@mixin pad($top,$left){
	padding-top:$top/75*$rem;
	padding-left:$left/75*$rem;
}
@mixin font($font,$line){
	font-size:$font/75*$rem;
	line-height:$line/75*$rem;
}
@mixin border($color){
	
}
@mixin po($top,$left){
	position:absolute;
	top:$top/75*$rem;
	left:$left/75*$rem;
}
@mixin border-1px($color){
    left: 0;
    bottom: 0;
    border-top:1px solid $color;
    width: 100%;
    content: '';
    }

 @-webkit-keyframes move {
 	0% {
 	
 	}
 	30% {
 	
 	}
 }
 .circle1{
	@include po(490,300);
	@include size(20/75*$rem,20/75*$rem,none);
}

 	
 * { touch-action: none; }
 #myCanve {
 	position:absolute;
 	z-index:200;
 }
 #myCanve2 {
 	position:absolute;
 	z-index:999;
 }
em {
	font-style:normal;
}
#winCircle {
	@include po(620,290);
	z-index:4000;
}

.text-number {
	@include size(100%,80/75*$rem,none);
	position:absolute;
	right:0;
	top:70%;
	@include font(80,80);
	font-weight:bold;
	color:yellow;
	text-align:center;
	z-index:200000;
}
body {
	position:relative;
	z-index:0;
}
.border-1{
	@include border-1px(#f3f5f7);
} 
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix{
	content:'';
	display:block;
	clear:both;
}
.swiper-container {
        width: 100%;
        height: 100%;
    .swiper-slide {
        font-size: 18px;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
   }
    .swiper-scrollbar {
    position:absolute;
    	background:none;
    	.swiper-scrollbar-drag {
    		width:10/75*$rem;
    		background:rgba(0,0,0,.5);
    	}
    }
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-aspect-ratio: 1.5){
 .border-1px::after {
    -webkit-transform : scaleY(0.7);
    transform : scaleY(0.7);
}
}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-aspect-ratio: 2) {
  .border-1px::after {
    -webkit-transform : scaleY(0.3);
    transform : scaleY(0.3);
    }
    }
 @media (-webkit-min-device-pixel-ratio:3),(min-device-aspect-ratio: 3) {
  .border-1px::after {
    -webkit-transform : scaleY(0.3);
    transform : scaleY(0.3);
    }
    }
 .border-1px{
  position : relative;}
	.border-1px::after {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		border-top:1px solid #A941E3;
		width: 100%;
		content: '';
	}
	
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-aspect-ratio: 1.5){
 .border-left::after {
    -webkit-transform : scaleX(0.7);
    transform : scaleX(0.7);
}
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-aspect-ratio: 2) {
  .border-left::after {
    -webkit-transform : scaleX(0.3);
    transform : scaleX(0.3);
    }
    }
 @media (-webkit-min-device-pixel-ratio:3),(min-device-aspect-ratio: 3) {
  .border-left::after {
    -webkit-transform : scaleX(0.3);
    transform : scaleX(0.3);
    }
    }
 .border-left{
  position : relative;}
	.border-left::after {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border-left:1px solid #A941E3;
	height: 100%;
	content: '';
}

.bg {
	@include po(0,0);
	z-index:-9999;
}
header {
 	position:relative;
		@include size(100%,88/75*$rem,#DA3231);
		.back {
			position:absolute;
			left:30/75*$rem;
			top:22/75*$rem;
			@include size(25/75*$rem,42/75*$rem,url(../imgs/back.png));
			background-size:contain;
		}
		@include font(36,88);
		text-align:center;
		color:#fff;
 }
 a:link,a:visited {
 	color:#fff;
 }
.ima {
	@include size(100%,100%,none);
	@include po(0,0);
	z-index:-9999;
}
#copy {
  position:absolute;
  right:0;
  z-index:-300;
  opacity:0;
}
#shake {
	position:absolute;
	z-index:2;
}
.beautiful {
	position:absolute;
	z-index:2;
}
#circle {
	position:absolute;
	z-index:4;
}
#navBar {
		@include po(128,0);
		z-index:100;
		@include size(100/75*$rem,500/75*$rem,none);
		.bg {
			@include po(0,0);
			@include size(100/75*$rem,500/75*$rem,#000);
			border-radius:0 40/75*$rem 40/75*$rem 0;
			opacity:.3;
			font-size:0;
		}
		a {
			position:relative;
			@include size(75/75*$rem,75/75*$rem,none);
			@include margin(7,14);
			overflow:hidden;
			img {
				@include po(-5,-8);
				@include size(180/75*$rem,90/75*$rem,none);
				display:block;
			}
		}
		.active {
			img {
				@include po(-5,-98);
			}
		}
	}
.moveGroup 	{
	 img {
	 	display:none;
	 }	
}
section {
	
	.btn_group {
		@include po(830,0);
		@include size(500/75*$rem,50/75*$rem,none);
		color:#fff;
		padding-left:130/75*$rem;
		.shake_btn {
			@include size(150/75*$rem,50/75*$rem,#FF5050);
			text-align:center;
			@include font(26,50);
			vertical-align:middle;
			border-radius:5/75*$rem;
		}
		.clone_btn {
			@include size(150/75*$rem,50/75*$rem,#F6A623);
			@include font(26,50);
			text-align:center;
			vertical-align:middle;
			margin-left:27/75*$rem;
			border-radius:5/75*$rem;
		}
	}
}
footer {
	position:absolute;
	bottom:0;
	width:100%;
	display:none;
	.footer-bg {
		position:absolute;
		bottom:0;
		@include size(100%,62/75*$rem,#000);
		opacity:.3;
		z-index:-1;
		padding:0 0 14/75*$rem 0;
		padding-top:14/75*$rem;
	}
	ul {
		position:absolute;
		bottom:0;
		@include size(100%,auto,none);
		margin-bottom:14/75*$rem;
		.list {
			@include size(100%,56/75*$rem,none);
			.win {
				@include margin(8,10);
				font-size:0;
				img {
					@include size(40/75*$rem,40/75*$rem,none);
					@include margin(8,10);
				}
			}
			p {
				@include size(212/75*$rem,56/75*$rem,none);
				@include font(24,56);
				@include margin(0,0);
				color:#fff;
				opacity:.5;
				i {
					font-style:normal;
					margin-left:20/75*$rem;
				}
			}
			b {
				margin-top:8/75*$rem;
				@include size(150/75*$rem,40/75*$rem,none);
				@include font(24,40);
				margin-right:12/75*$rem;
				border:1px solid #E05464;
				border-radius:2/75*$rem;
				color:#E05464;
				text-align:center;
			}
		}
	}
}