@-webkit-keyframes move {}
.circle1 {
  position: absolute;
  top: 6.53333rem;
  left: 4rem;
  width: 0.26667rem;
  height: 0.26667rem;
  background: none no-repeat; }

* {
  touch-action: none; }

#myCanve {
  position: absolute;
  z-index: 200; }

#myCanve2 {
  position: absolute;
  z-index: 999; }

em {
  font-style: normal; }

#winCircle {
  position: absolute;
  top: 8.26667rem;
  left: 3.86667rem;
  z-index: 4000; }

.text-number {
  width: 100%;
  height: 1.06667rem;
  background: none no-repeat;
  position: absolute;
  right: 0;
  top: 70%;
  font-size: 1.06667rem;
  line-height: 1.06667rem;
  font-weight: bold;
  color: yellow;
  text-align: center;
  z-index: 200000; }

body {
  position: relative;
  z-index: 0; }

.border-1 {
  left: 0;
  bottom: 0;
  border-top: 1px solid #f3f5f7;
  width: 100%;
  content: ''; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix {
  content: '';
  display: block;
  clear: both; }

.swiper-container {
  width: 100%;
  height: 100%; }
  .swiper-container .swiper-slide {
    font-size: 18px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }
  .swiper-container .swiper-scrollbar {
    position: absolute;
    background: none; }
    .swiper-container .swiper-scrollbar .swiper-scrollbar-drag {
      width: 0.13333rem;
      background: rgba(0, 0, 0, 0.5); }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-aspect-ratio: 1.5) {
  .border-1px::after {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7); } }
@media (-webkit-min-device-pixel-ratio: 2), (min-device-aspect-ratio: 2) {
  .border-1px::after {
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3); } }
@media (-webkit-min-device-pixel-ratio: 3), (min-device-aspect-ratio: 3) {
  .border-1px::after {
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3); } }
.border-1px {
  position: relative; }

.border-1px::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-top: 1px solid #A941E3;
  width: 100%;
  content: ''; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-aspect-ratio: 1.5) {
  .border-left::after {
    -webkit-transform: scaleX(0.7);
    transform: scaleX(0.7); } }
@media (-webkit-min-device-pixel-ratio: 2), (min-device-aspect-ratio: 2) {
  .border-left::after {
    -webkit-transform: scaleX(0.3);
    transform: scaleX(0.3); } }
@media (-webkit-min-device-pixel-ratio: 3), (min-device-aspect-ratio: 3) {
  .border-left::after {
    -webkit-transform: scaleX(0.3);
    transform: scaleX(0.3); } }
.border-left {
  position: relative; }

.border-left::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-left: 1px solid #A941E3;
  height: 100%;
  content: ''; }

.bg {
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: -9999; }

header {
  position: relative;
  width: 100%;
  height: 1.17333rem;
  background: #DA3231 no-repeat;
  font-size: 0.48rem;
  line-height: 1.17333rem;
  text-align: center;
  color: #fff; }
  header .back {
    position: absolute;
    left: 0.4rem;
    top: 0.29333rem;
    width: 0.33333rem;
    height: 0.56rem;
    background: url(../imgs/back.png) no-repeat;
    background-size: contain; }

a:link, a:visited {
  color: #fff; }

.ima {
  width: 100%;
  height: 100%;
  background: none no-repeat;
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: -9999; }

#copy {
  position: absolute;
  right: 0;
  z-index: -300;
  opacity: 0; }

#shake {
  position: absolute;
  z-index: 2; }

.beautiful {
  position: absolute;
  z-index: 2; }

#circle {
  position: absolute;
  z-index: 4; }

#navBar {
  position: absolute;
  top: 1.70667rem;
  left: 0rem;
  z-index: 100;
  width: 1.33333rem;
  height: 6.66667rem;
  background: none no-repeat; }
  #navBar .bg {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 1.33333rem;
    height: 6.66667rem;
    background: #000 no-repeat;
    border-radius: 0 0.53333rem 0.53333rem 0;
    opacity: .3;
    font-size: 0; }
  #navBar a {
    position: relative;
    width: 1rem;
    height: 1rem;
    background: none no-repeat;
    margin-top: 0.09333rem;
    margin-left: 0.18667rem;
    overflow: hidden; }
    #navBar a img {
      position: absolute;
      top: -0.06667rem;
      left: -0.10667rem;
      width: 2.4rem;
      height: 1.2rem;
      background: none no-repeat;
      display: block; }
  #navBar .active img {
    position: absolute;
    top: -0.06667rem;
    left: -1.30667rem; }

.moveGroup img {
  display: none; }

section .btn_group {
  position: absolute;
  top: 11.06667rem;
  left: 0rem;
  width: 6.66667rem;
  height: 0.66667rem;
  background: none no-repeat;
  color: #fff;
  padding-left: 1.73333rem; }
  section .btn_group .shake_btn {
    width: 2rem;
    height: 0.66667rem;
    background: #FF5050 no-repeat;
    text-align: center;
    font-size: 0.34667rem;
    line-height: 0.66667rem;
    vertical-align: middle;
    border-radius: 0.06667rem; }
  section .btn_group .clone_btn {
    width: 2rem;
    height: 0.66667rem;
    background: #F6A623 no-repeat;
    font-size: 0.34667rem;
    line-height: 0.66667rem;
    text-align: center;
    vertical-align: middle;
    margin-left: 0.36rem;
    border-radius: 0.06667rem; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none; }
  footer .footer-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.82667rem;
    background: #000 no-repeat;
    opacity: .3;
    z-index: -1;
    padding: 0 0 0.18667rem 0;
    padding-top: 0.18667rem; }
  footer ul {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background: none no-repeat;
    margin-bottom: 0.18667rem; }
    footer ul .list {
      width: 100%;
      height: 0.74667rem;
      background: none no-repeat; }
      footer ul .list .win {
        margin-top: 0.10667rem;
        margin-left: 0.13333rem;
        font-size: 0; }
        footer ul .list .win img {
          width: 0.53333rem;
          height: 0.53333rem;
          background: none no-repeat;
          margin-top: 0.10667rem;
          margin-left: 0.13333rem; }
      footer ul .list p {
        width: 2.82667rem;
        height: 0.74667rem;
        background: none no-repeat;
        font-size: 0.32rem;
        line-height: 0.74667rem;
        margin-top: 0rem;
        margin-left: 0rem;
        color: #fff;
        opacity: .5; }
        footer ul .list p i {
          font-style: normal;
          margin-left: 0.26667rem; }
      footer ul .list b {
        margin-top: 0.10667rem;
        width: 2rem;
        height: 0.53333rem;
        background: none no-repeat;
        font-size: 0.32rem;
        line-height: 0.53333rem;
        margin-right: 0.16rem;
        border: 1px solid #E05464;
        border-radius: 0.02667rem;
        color: #E05464;
        text-align: center; }

/*# sourceMappingURL=shake.css.map */
